/* input的placeholder属性的样式 */

::-webkit-input-placeholder {
	color: #fff5c9;
}

::-moz-placeholder {
	color: #fff5c9;
}

:-ms-input-placeholder {
	color: #fff5c9;
}

input:-moz-placeholder {
	color: #fff5c9;
}


/* 头部 */

.mui-bar-nav {
	background-color: #fece02;
	height: 50px;
	position: fixed;
	display: block;
	box-shadow: none;
}

.mui-bar-nav~.mui-content {
	padding-top: 0;
	margin-top: 0px;
}

.mui-bar-nav .logo {
	width: 30px;
	margin: 10px 0;
	margin-left: 10px;
	float: left;
}

.mui-bar-nav .searchBox {
	position: relative;
	width: 100%;
	height: 50px;
	padding: 10px 0;
	display: inline-block;
}

.mui-bar-nav .searchBox .search {
	border-radius: 15px;
	width: 100%;
	height: 30px;
	display: inline-block;
	float: left;
	background-color: #fee579;
	color: #fff5c9;
	margin: 0;
	padding-left: 40px;
	text-align: left;
	font-size: 0.8rem;
}

.mui-bar-nav .searchBox .searchIcon {
	background: url(../img/index/searchIcon.png) no-repeat;
	background-size: 20px;
	position: absolute;
	left: 10px;
	top: 2px;
}

.mui-bar-nav .mui-col-xs-8 {
	padding-right: 10px;
}

.mui-bar-nav .mui-col-xs-1 {
	text-align: center;
}

.mui-bar-nav span {
	width: 22px;
	height: 22px;
	display: inline-block;
	margin: 14px 0;
}

.mui-bar-nav .code {
	background: url(../img/index/topIcon.png) no-repeat 0px 0px;
	background-size: 22px;
}

.mui-bar-nav .bell {
	background: url(../img/index/topIcon.png) no-repeat 0px -22px;
	background-size: 22px;
}


/* 底部导航栏 */

.mui-bar-tab {
	z-index: 20;
}

.mui-bar-tab .icon {
	display: block;
	margin: auto;
	width: 34.5px;
	height: 27.5px;
	background: url(../img/index/bottomIcon.jpg) no-repeat;
	background-size: 34.5px;
	margin-top: 3px;
}

.mui-bar-tab .homeIcon {
	background-position: 0px 0px;
}

.mui-bar-tab .typeIcon {
	background-position: 0px -27.5px;
}

.mui-bar-tab .mineIcon {
	background-position: 0px -55px;
}

.mui-bar-tab .mui-tab-label {
	font-size: 0.8rem;
}

.mui-bar-tab .mui-active .icon {
	background: url(../img/index/bottomIconActive.jpg) no-repeat;
	background-size: 34.5px;
}

.mui-bar-tab .mui-active .homeIcon {
	background-position: 0px 0px;
}

.mui-bar-tab .mui-active .typeIcon {
	background-position: 0px -27.5px;
}

.mui-bar-tab .mui-active .mineIcon {
	background-position: 0px -55px;
}

.mui-bar-tab .mui-active .mui-tab-label {
	color: #fea31e;
}

.mui-bar-tab .disabled .mui-tab-label {
	color: #929292;
}

.mui-bar-tab .disabled .sendIcon {
	background: url(../img/index/bottomIcon.jpg) no-repeat;
	background-size: 34.5px;
	background-position: 0px -82.5px;
}