#mine {
	position: relative;
	z-index: 10;
	background-color: #EFEFF4;
	margin-bottom: 57px;
}


/* 顶部图片 */

#mine .info {
	width: 100%;
	z-index: 20;
}


/* 功能 */

#function {
	background-color: #ffffff;
	padding: 20px;
	margin-top: -4px;
	border-bottom: 1px solid #c3c3c3;
}

#function div {
	text-align: center;
	padding: 10px;
}

#function .order,
#function .coupon {
	border-right: 1px solid #c2c2c2;
}

#function div span {
	display: inline-block;
	width: 24px;
	height: 23px;
	background: url(../img/mine/funcIcon.jpg) no-repeat;
	background-size: 24px;
}

#function div .orderIcon {
	background-position: 0px 0;
}

#function div .couponIcon {
	background-position: 0px -23px;
}

#function div .messageIcon {
	background-position: 0px -46px;
}

#function div p {
	font-size: 0.8rem;
	color: #302f2f;
}


/* 列表 */

#mine ul {
	margin: 0;
	font-size: 1.0rem;
	margin: 10px 0;
}

#mine ul li {
	padding: 5px;
	padding-left: 10px;
}

#mine ul li .listIcon {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/mine/listIcon.jpg) no-repeat;
	background-size: 22px;
}

#mine ul li .listIcon1 {
	background-position: 0 0;
}

#mine ul li .listIcon2 {
	background-position: 0 -22px;
}

#mine ul li .listIcon3 {
	background-position: 0 -44px;
}

#mine ul li .listIcon4 {
	background-position: 0 -66px;
}

#mine ul li .listIcon5 {
	background-position: 0 -88px;
}

#mine ul li a {
	display: inline-block !important;
	margin-left: -5px !important;
	width: 90%;
	font-size: 0.9rem;
	top: -5px;
}

#mine ul li a::after {
	right: 0;
}

#mine ul li::after {
	left: 0;
}