.mui-content{
	margin-bottom: 0px;
	height: 100%;
	margin-top: 6px;
}

#segmentedControls a{
	width: 100%;
}

#segmentedControls .mui-active{
	color: #fea31e;
	background-color: #ffffff;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #fea31e;
}

#segmentedControlContents{
	border: none;
	margin-bottom: 57px;
}

#segmentedControlContents p{
	margin: 0;
	margin-left: 5px;
	color: #565656;
}

#segmentedControlContents ul li img{
	width: 100%;
}

#segmentedControlContents ul li .name{
	font-size: 1.0rem;
}

#segmentedControlContents ul li .name span{
	font-size: 0.8rem;
	border: 1px solid #ff4100;
	border-radius: 8px;
	color: #ff4100;
	padding: 2px;
	margin-right: 5px;
}

#segmentedControlContents ul li .discount{
	background-color: #f85252;
	border-radius: 8px;
	display: inline-block;
	padding: 2px 5px;
	color: #ffffff;
	font-size: 0.5rem;
	margin-top: 5px;
}

#segmentedControlContents ul li .num{
	color: #929091;
	font-size: 1.0rem;
}

#segmentedControlContents ul li .price{
	color: #ff4100;
	font-size: 1.2rem;
}

#segmentedControlContents ul li .addBtn{
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/type/add.jpg) no-repeat;
	background-size: 40px;
	position: absolute;
	right: 0;
	bottom: 0;
}